
@{
    ViewBag.Title = "AllUserBorrow";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    .img {
        border-radius: 10px;
        height: 110px;
        object-fit: cover;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }

    td {
        vertical-align: baseline;
        align-items: center;
    }

    th {
        font-weight: bolder;
    }

    p {
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<table class="table">
    <tr style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 10px; border-radius: 5px ">
        <th align="center">
            Tên sinh viên
        </th>
        <th style="text-align : center">
            Mã số sinh viên
        </th>
        <th style="text-align : center">
            Email
        </th>
        <th style="text-align : center">
            Số điện thoại
        </th>
        <th style="text-align : center">
            Thông tin sách
        </th>
        <th style="text-align : center">
            Danh mục sách
        </th>
        <th style="text-align : center">
            Ngày mượn
        </th>
        <th style="text-align : center">
            Ngày hủy mượn
        </th>
        <th style="text-align : center">
            Ngày đến lấy
        </th>
        <th style="text-align : center">
            Ngày trả
        </th>
        <th style="text-align : center">
            Ngày đến trả
        </th>
        <th style="text-align : center">
            Trạng thái duyệt
        </th>

        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td align="center">
                    @item.UserCode
                </td>

                <td align="center">
                    @item.Email
                </td>
                <td align="center">
                    @item.UserPhone
                </td>
                <td align="center">
                    <a href="/Admin/Home/Details_AllBorrow/@item.BookId"><i class="fa-solid fa-circle-info g"></i></a>
                </td>
                <td align="center">
                    @item.CategoryName
                </td>
                <td align="center">
                    @item.TranDate
                </td>
                <td align="center">
                    @item.TranDate_DeleteRequest
                </td>

                @if (item.TranDate_Accepted == null)
                {
                    <td align="center">
                        Chưa lấy
                    </td>
                }
                else
                {
                    <td align="center">
                        @item.TranDate_Accepted
                    </td>
                }



                <td align="center">
                    @item.TranDate_Returned
                </td>

                @if (item.TranDate_AccReturned == null)
                {
                    <td align="center">
                        Chưa trả
                    </td>
                }
                else
                {
                    <td align="center">
                        @item.TranDate_AccReturned
                    </td>
                }

                <td align="center">

                    @switch (item.TranStatus)
                    {
                        case "Requested":<p>Người dùng yêu cầu mượn</p>break;
                        case "Accepted_Request":<p>Đã duyệt yêu cầu mượn</p> break;
                        case "Returned":<p>Người dùng yêu cầu trả</p>break;
                        case "Rejected":<p>Từ chối duyệt</p>break;
                        case "Accepted_Return":<p>Đã duyệt yêu cầu trả</p>break;
                        case "DeleteRequested":<p>Người dùng đã hủy yêu cầu mượn</p>break;
                    }

                </td>

            </tr>
        }
    }
    else
    {
        <div>khong</div>
    }

    @*@foreach (var item in Model)
        {
            if (Model >0)
            {
                <tr>
                    <td>
                        @item.BookTitle
                    </td>
                    <td align="center">
                        <p>@item.UserName</p>
                    </td>

                    <td align="center">
                        <p>@item.TranDate</p>
                    </td>
                    <td>

                        <a onclick='acceptRequest()' class='btn btn-sm btn-primary text-light'
                           data-toggle='tooltip' title='Accept book request'
                           href='@Url.Action("AcceptRequest", "Home", new { tranId = item.TranId})'><i class="fas fa-check-circle"></i>Đồng ý</a>

                        <a onclick='rejectRequest()' class='btn btn-sm btn-danger text-light'
                           data-toggle='tooltip' title='Accept book request'
                           href='@Url.Action("RejectRequest", "Home",new { tranId = item.TranId})'><i class='fas fa-times-circle'>Từ chối</i></a>
                    </td>
                </tr>
            }
            else
            {
                <div>Khong co yeu cau</div>

            }
        }*@
</table>



